@model SocialNetworkMVC.Views.ViewsModels.UserViewModel
@{
    ViewData["Title"] = "Users";
}

<body>
    <div class="profile-container">
        <div class="profile-card">
            <div class="profile-photo">
                <img src="@Model.User.Image" alt="Фото профиля">
                <form method="get" asp-controller="AccountManager" asp-action="Update">
                    <input type="submit" value="Редактировать" class="edit-button" />
                </form>
            </div>
            <div class="profile-info">
                <h1>@Model.User.GetFullName()</h1>
                <p><strong>Статус:</strong> @Model.User.Status</p>
                <p><strong>Дата рождения:</strong> @Model.User.DateBirth.ToString("dd MMMM yyyy") г.</p>
                <p><strong>О себе:</strong> @Model.User.About</p>
                <p><strong>Email:</strong> @Model.User.Email</p>

                <hr />

                <h3>Список друзей</h3>
                <div class="friends-list">
                    @if (Model.Friends.Count != 0)
                    {
                        @foreach (var user in @Model.Friends)
                        {
                            <div class="friend">
                                <img src="@user.Image" alt="Фото друга">
                                <label>@user.GetFullName()</label>
                                <div class="friend-actions">
                                    <form asp-controller="Chat" asp-action="Chat" asp-route-id="@user.Id" method="post">
                                        <button type="submit" class="btn btn-chat">Чат</button>
                                    </form>
                                    <form asp-controller="Friend" asp-action="DeleteFriend" asp-route-id="@user.Id" method="post">
                                        <button type="submit" class="btn btn-delete">Удалить из друзей</button>
                                    </form>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>У вас пока нет друзей.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</body>

