@using SocialNetworkMVC.Views.ViewsModels
@model SocialNetworkMVC.Views.ViewsModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    
}
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<div class="register">
    <h1>Впервые с нами?</h1> <!-- Заголовок -->
    <h2>Регистрация нового пользователя</h2> <!-- Подзаголовок -->
    <form method="get" asp-controller="Register" asp-action="RegisterPart2">
        <div class="input-field">
            <!-- Поле для имени -->
            <label asp-for="FirstName">Введите имя</label>
            <input asp-for="FirstName" type="text" required />
            <span asp-validation-for="FirstName"></span>
        </div>
        <div class="input-field">
            <!-- Поле для фамилии -->
            <label asp-for="LastName">Введите фамилию</label>
            <input asp-for="LastName" type="text" required />
            <span asp-validation-for="LastName"></span>
        </div>
        <div class="input-field">
            <!-- Поля для даты рождения -->
            <label>Дата рождения</label>
            <select asp-for="Day" required>
                <option value="">День</option>
                <!-- Добавьте дни от 1 до 31 -->
                @for (int i = 1; i <= 31; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
            <select asp-for="Month" required>
                <option value="">Месяц</option>
                <!-- Добавьте месяцы -->
                @foreach (var month in Enum.GetValues(typeof(Months)).Cast<Months>())
                {
                    var displayName = month.GetType()
                    .GetField(month.ToString())
                    .GetCustomAttributes(typeof(System.ComponentModel.DataAnnotations.DisplayAttribute), false)
                    .FirstOrDefault() as System.ComponentModel.DataAnnotations.DisplayAttribute;

                    var monthName = displayName != null ? displayName.Name : month.ToString();

                    <option value="@((int)month)">@monthName</option>
                }
            </select>
            <select asp-for="Year" required>
                <option value="">Год</option>
                <!-- Добавьте годы -->
                @for (int i = DateTime.Now.Year; i >= 1900; i--)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>
        <div>
            <input type="submit" class="register" value="Продолжить регистрацию" />
        </div>
    </form>
